.about-container {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
}

.card-container {
  position: absolute; /* allows it to overlay */
  top: 0;
  left: -80px; /* controls left overlap */
  z-index: 2; /* ensures it appears on top */
}

.card {
  background: #79ab91;
  opacity: 0.9;
  padding: 24px;
  border-radius: 16px;
  height: 240px;
  width: 330px;
  margin-left: 490px;
  margin-top: 110px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}