.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hwb(200 98% 0% / 0.938);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(2, 32, 16);
}

.App-link {
  color: #99e9ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-link {
  color: blue;
  text-decoration: none; /* Removes underline */
  padding-left: 150px;
}

.custom-link:hover {
  color: darkblue; /* Changes color on hover */
}


.container {
  display: flex;
  justify-content: flex-end;
}
.container1 {
  display: flex;
  justify-content: flex-end;
}
.right-img {
  position: absolute;
  right: 0;
  height: 800px;
  transform: translateY(-50%);
  width: 900px;
}
.left-div {
  position: absolute;
  left: 15px;
  top: 40%;
  transform: translateY(-50%);
}

.blue-button {
  background-color: #007BFF; /* Blue color */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 150px;
  border-radius: 5px;
}

.blue-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
.custom-image {
  width: 100px;  /* Set width */
  height: 100px; /* Set height */
  margin-top: 100px;
}